In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('auto (1).txt')

In [3]:
pd.set_option("display.max_columns",26)

In [4]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [5]:
df.shape

(205, 26)

In [6]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [7]:
type(df['peak-rpm'][0])

str

In [8]:
# to convert all object type into float type or int type

def convert_to_float(x):
    try:
        return float(x)
    except ValueError:
        return 0.0

In [9]:
df['price'] = df['price'].apply(convert_to_float)

In [10]:
type(df['price'][0])

numpy.float64

In [11]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [12]:
df['normalized-losses'][4]

'164'

In [13]:
df['peak-rpm'] = df['peak-rpm'].apply(convert_to_float)
df['bore']=df['bore'].apply(convert_to_float)
df['stroke']=df['stroke'].apply(convert_to_float)
df['horsepower']=df['horsepower'].apply(convert_to_float)
df['normalized-losses'] = df['normalized-losses'].apply(convert_to_float)

In [14]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [15]:
x = ['fuel-system','num-of-cylinders','engine-type','fuel-type','aspiration','num-of-doors','body-style','drive-wheels',
     'engine-location']

In [16]:
for i in x:
    print(i)
    print(df[i].unique())
    print('-----------------------------')

fuel-system
['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']
-----------------------------
num-of-cylinders
['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
-----------------------------
engine-type
['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
-----------------------------
fuel-type
['gas' 'diesel']
-----------------------------
aspiration
['std' 'turbo']
-----------------------------
num-of-doors
['two' 'four' '?']
-----------------------------
body-style
['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
-----------------------------
drive-wheels
['rwd' 'fwd' '4wd']
-----------------------------
engine-location
['front' 'rear']
-----------------------------

In [17]:
fuel_dict ={}
x = 0
for i in df['fuel-system'].unique():
    fuel_dict[i]=x
    x = x+1

In [18]:
fuel_dict

{'mpfi': 0,
 '2bbl': 1,
 'mfi': 2,
 '1bbl': 3,
 'spfi': 4,
 '4bbl': 5,
 'idi': 6,
 'spdi': 7}

In [19]:
df['fuel-system'] = df['fuel-system'].map(fuel_dict)

In [20]:
#num-of-cylinders
#['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']

cy_dict = {
    'four':4,'six':6,'five':5,'three':3 ,'twelve':12,'two':2,'eight':8
}

In [21]:
df['num-of-cylinders'] = df['num-of-cylinders'].map(cy_dict)

In [22]:
#engine-type
#['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
engine_dict = {
    'dohc':0,'ohcv':1,'ohc':2,'l':3,'rotor':4,'ohcf':5,'dohcv':6
}

In [23]:
df['engine-type'] = df['engine-type'].map(engine_dict)

In [24]:
#fuel-type
#['gas' 'diesel']
fue_dict={
    'gas':0,'diesel':1
}

In [25]:
df['fuel-type'] = df['fuel-type'].map(fue_dict)

aspiration
['std' 'turbo']
-----------------------------
num-of-doors
['two' 'four' '?']
-----------------------------
body-style
['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
-----------------------------
drive-wheels
['rwd' 'fwd' '4wd']
-----------------------------
engine-location
['front' 'rear']

In [26]:
as_dict = {'std':0,'turbo':1}
nod_dict = {'two':2,'four':4,'?':0}
body_dict = {'convertible':0,'hatchback':1,'sedan':2,'wagon':3,'hardtop':4}
dw_dict = {'rwd':0,'fwd':1,'4wd':2}
engine_loc = {'front':0,'rear':1}

In [27]:
df['aspiration'] = df['aspiration'].map(as_dict)
df['num-of-doors'] = df['num-of-doors'].map(nod_dict)
df['body-style'] = df['body-style'].map(body_dict)
df['drive-wheels'] = df['drive-wheels'].map(dw_dict)
df['engine-location'] = df['engine-location'].map(engine_loc)

In [28]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type              int64
aspiration             int64
num-of-doors           int64
body-style             int64
drive-wheels           int64
engine-location        int64
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type            int64
num-of-cylinders       int64
engine-size            int64
fuel-system            int64
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [29]:
df['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [30]:
make_dict ={}
initial = 0
for i in df['make'].unique():
    make_dict[i] = initial
    initial = initial+1

In [31]:
make_dict

{'alfa-romero': 0,
 'audi': 1,
 'bmw': 2,
 'chevrolet': 3,
 'dodge': 4,
 'honda': 5,
 'isuzu': 6,
 'jaguar': 7,
 'mazda': 8,
 'mercedes-benz': 9,
 'mercury': 10,
 'mitsubishi': 11,
 'nissan': 12,
 'peugot': 13,
 'plymouth': 14,
 'porsche': 15,
 'renault': 16,
 'saab': 17,
 'subaru': 18,
 'toyota': 19,
 'volkswagen': 20,
 'volvo': 21}

In [32]:
df['make'] = df['make'].map(make_dict)

In [33]:
df.dtypes

symboling              int64
normalized-losses    float64
make                   int64
fuel-type              int64
aspiration             int64
num-of-doors           int64
body-style             int64
drive-wheels           int64
engine-location        int64
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type            int64
num-of-cylinders       int64
engine-size            int64
fuel-system            int64
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [34]:
df.shape

(205, 26)

In [35]:
in_col = df.drop('price',axis=1)
out_col = df['price']

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
in_train,in_test,out_train,out_test = train_test_split(in_col,out_col,train_size=0.8,random_state=42)

In [38]:
in_train.shape

(164, 25)

In [39]:
out_train.shape

(164,)

In [40]:
in_test.shape

(41, 25)

In [41]:
out_test.shape

(41,)

In [42]:
from sklearn.linear_model import LogisticRegression,Lasso,Ridge
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

In [52]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [53]:
Model =[LogisticRegression,Lasso,Ridge,SVR,DecisionTreeRegressor,RandomForestRegressor,KNeighborsRegressor]

In [54]:
def mean_absolute(Model):
    model = Model()
    model.fit(in_train,out_train)
    train_pred = model.predict(in_train)
    test_pred = model.predict(in_test)
    train_mae = mean_absolute_error(train_pred,out_train)
    test_mae = mean_absolute_error(test_pred,out_test)
    return (train_mae,test_mae)

In [55]:
for i in Model:
    print(f'{str(i.__name__)}-->mean_absolute_error of train and test is {mean_absolute(i)}')

c:\users\user\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression-->mean_absolute_error of train and test is (1113.9268292682927, 3650.609756097561)
Lasso-->mean_absolute_error of train and test is (1833.4183422048625, 3156.0340753614073)
Ridge-->mean_absolute_error of train and test is (1921.4525898876839, 3015.217711896713)
SVR-->mean_absolute_error of train and test is (5435.224270720282, 5978.38474556974)
DecisionTreeRegressor-->mean_absolute_error of train and test is (44.542682926829265, 2076.731707317073)
RandomForestRegressor-->mean_absolute_error of train and test is (693.7818372531941, 1792.7882520325202)
KNeighborsRegressor-->mean_absolute_error of train and test is (1809.940243902439, 2935.292682926829)